*{
    height: 100%;
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: blue;
}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("image/wave.png");
    background-size: 100% 100px;
    animation: waving 30s linear infinite;
}

@keyframes waving{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;;
    }
}